.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/assets
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
assets/*
data
slides/*.html
slides/libs/*
figure
rmd
install.R
